<!DOCTYPE html>
<html class="ie7" lang="ru">
<html class="ie8" lang="ru">
<html class="ie9" lang="ru">
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{topbar.genres}"></title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="../favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=52263780">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script defer src="/assets/js/scripts.min.js?v=52263780"></script>
</head>
<body class="Site">
<header th:replace="~{fragments/header_fragment::headerFragment(genres)}"></header>

<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{topbar.genres}">Жанры</h1>
            <div class="Section">
                <div class="Tags Tags_genres">
                    <div class="Tags" th:each="genreLevelOne : ${genres}" th:if="${genreLevelOne.getParent() == null}">
                        <div class="Tags-title">
                            <div class="Tag">
                                <a th:href="${'/genres/' + genreLevelOne.getSlug()}"
                                   th:text="${genreLevelOne.getName() + ' (' + genreLevelOne.getBookList().size() + ')'}">
                                    Жанр уровня 1 (заголовок)
                                </a>
                            </div>
                        </div>

                        <span th:each="genreLevelTwo : ${genreLevelOne.getChildGenres()}">
                            <div class="Tags" th:if="${!genreLevelTwo.getChildGenres().isEmpty()}">
                                <div class="Tags-title">
                                    <div class="Tag">
                                        <a th:href="${'/genres/' + genreLevelTwo.getSlug()}"
                                           th:text="${genreLevelTwo.getName() + ' (' + genreLevelTwo.getBookList().size() + ')'}">
                                            Жанр уровня 2 (заголовок)</a>
                                    </div>
                                </div>

                                <span th:each="genreLevelThree : ${genreLevelTwo.getChildGenres()}">
                                    <div class="Tags" th:if="${!genreLevelThree.getChildGenres().isEmpty()}">
                                        <div class="Tags-title">
                                            <div class="Tag">
                                                <a th:href="${'/genres/' + genreLevelThree.getSlug()}"
                                                   th:text="${genreLevelThree.getName() + ' (' + genreLevelThree.getBooks().size() + ')'}">
                                                    Жанр уровня 3 (заголовок)</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Tag" th:if="${genreLevelThree.getChildGenres().isEmpty()}">
                                        <a th:href="${'/genres/' + genreLevelThree.getSlug()}"
                                           th:text="${genreLevelThree.getName() + ' (' + genreLevelThree.getBookList().size() + ')'}">
                                            Жанр уровня 3 (обычный)</a>
                                    </div>
                                </span>
                            </div>
                            <div class="Tag" th:if="${genreLevelTwo.getChildGenres().isEmpty()}">
                                <a th:href="${'/genres/' + genreLevelTwo.getSlug()}"
                                   th:text="${genreLevelTwo.getName() + ' (' + genreLevelTwo.getBookList().size() + ')'}">
                                    Жанр уровня 2 (обычный)</a>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>