<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{bottomBar.contacts}">Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="../favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=10496799">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=10496799">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=10496799">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script defer src="/assets/js/scripts.min.js?v=10496799"></script>
</head>

<body class="Site">
<header th:replace="~{fragments/header_fragment::headerFragment(contacts)}"></header>
<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title" th:text="#{bottomBar.contacts}">Контакты
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:text="#{topbar.main}" th:href="@{/}">Главная</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span
                        th:text="#{bottomBar.contacts}">Контакты</span>
                </li>
            </ul>
            <div class="Contacts">
                <div class="row">
                    <label th:if="${send}"
                           th:text="#{message.passwordUpdate}"
                           class="form-label Login-title">
                        Сообщение отправлено!
                    </label>
                    <div class="row-block">
                        <h2 th:text="#{bottomBar.contacts}">Контакты
                        </h2>
                        <div class="Contacts-prop">
                            <strong class="Contacts-propTitle">Телефон:
                            </strong><span class="Contacts-propContent">8 (800) 484-48-48</span>
                        </div>
                        <div class="Contacts-prop">
                            <strong class="Contacts-propTitle">E-mail:
                            </strong><span class="Contacts-propContent">test@test.ru</span>
                        </div>
                        <div class="Contacts-prop">
                            <strong class="Contacts-propTitle">Телеграм-бот:
                            </strong><span class="Contacts-propContent">@testBookShop</span>
                        </div>
                    </div>
                    <div class="row-block">
                        <div class="Contacts-form">
                            <h2 th:text="#{message.writeToUs} + ':'">Напишите нам:
                            </h2>
                            <form class="form" th:method="POST" th:object="${message}">
                                <div class="form-group">
                                    <label for="name"></label>
                                    <input class="form-input" id="name" name="name"
                                           type="text" th:field="*{name}"
                                           placeholder="Введите Имя" data-validate="require"/>
                                </div>
                                <div class="form-group">
                                    <label for="mail"></label>
                                    <input class="form-input form-input_mail"
                                           id="mail" name="mail" type="text" th:field="*{mail}"
                                           th:placeholder="#{message.enterMail}"
                                           data-validate="mail require"/>
                                </div>
                                <div class="form-group">
                                    <label for="topic"></label>
                                    <input class="form-input" id="topic" name="topic"
                                           type="text" th:field="*{title}"
                                           placeholder="Введите тему"
                                           data-validate="require"/>
                                </div>
                                <div class="form-group">
                                    <label for="message"></label>
                                    <textarea class="form-textarea Contacts-message"
                                              name="message" id="message" th:field="*{text}"
                                              placeholder="Введите сообщение"
                                              data-validate="require"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn_primary form-btn" type="submit" name="sendMessage"
                                            id="sendMessage" th:text="#{message.send}">Отправить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>

</html>