<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{bottomBar.documents}">Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="../favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=16590401">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=16590401">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=16590401">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script defer src="/assets/js/scripts.min.js?v=16590401"></script>
</head>

<body class="Site">
<header th:replace="~{fragments/header_fragment::headerFragment(documents)}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{bottomBar.documents}">Документы</h1>
            <div class="Section">
                <div class="Documents" th:each="document : ${documents}">
                    <div class="Documents-wrap">
                        <a class="Documents-item" th:href="${'/documents/' + document.getSlug()}">
                            <div class="Documents-image">
                                <img th:src="${document.getImage()}" alt="1.jpg"/>
                            </div>
                            <div class="Documents-content">
                                <strong class="Documents-title" th:text="${document.getTitle()}">Публичная оферта
                                </strong>
                                <p th:text="${document.getDescription()}">Согласно закону, публичная оферта – это
                                    предложение, которое, во-первых,
                                    адресовано
                                    неопределенному кругу лиц, во-вторых, содержит все существенные условия
                                    договора, и,
                                    в-третьих, достаточно определенно выражает намерение предприятия-оферента
                                    считать себя
                                    заключившим договор с любым
                                </p>
                            </div>
                            <br/>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>

</html>