<!DOCTYPE html>
<html class="ie7" lang="ru">
<html class="ie8" lang="ru">
<html class="ie9" lang="ru">
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${author.name}">Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="../favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=93601584">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=93601584">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=93601584">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script defer src="/assets/js/scripts.min.js?v=93601584"></script>
</head>

<body class="Site">
<header th:replace="~{fragments/header_fragment::headerFragment(authors)}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:href="@{/}" th:text="#{topbar.main}">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a th:href="@{/authors}" th:text="#{topbar.authors}">Авторы</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span th:text="${author.name}">БорисВасильевич Бедный</span>
                </li>
            </ul>
            <h1 class="Middle-title" th:text="${author.name}">Борис Васильевич Бедный
            </h1>
            <article class="Article">
                <div class="sdf">
                </div>
                <div class="Spoiler">
                    <div class="Spoiler-visible">
                        <div class="pict pict_left">
                            <img th:src="${author.photo}" alt="card.jpg"/>
                        </div>
                        <div>
                            <h2>Биография</h2>
                            <p th:text="${author.description.substring(0, author.description.length()/2)}">
                                Борис
                            </p>
                        </div>
                    </div>
                    <div class="Spoiler-hide">
                        <p th:text="${author.description.substring(author.description.length()/2)}">"Писать
                            он начал до войны, в академии,- рассказал о нем в предисловии к книге "Первое дело"
                            поэт К.Ваншенкин.- Был участником литературных кружков и студий. Но всерьез вернулся к
                            этому
                            в сорок шестом, в далекой сплавконторе, на Трехозерной запани. Печатался в Коми
                            республиканской газете "За новый Север" ("Красное знамя") и наконец решился вновь
                            переломить
                            судьбу, поступив в Литературный институт" в 1952г.
                        </p>
                    </div>
                    <div class="Spoiler-footer">
                        <button class="Spoiler-trigger btn btn_primary btn_nr" type="button"
                                data-showtext="Свернуть" data-hidetext="Показать полностью"
                                th:attr="data-hidetext=#{message.showAll}, data-showtext=#{message.collapse}">
                        </button>
                    </div>
                </div>
            </article>
            <div class="Section">
                <header class="Section-header">
                    <h2 class="Section-title" th:text="#{message.authorBooks}">Книги автора</h2>
                </header>
                <div class="Cards Cards_refresh">
                    <div th:replace="~{fragments/book_fragment::bookRefresh(${authorBooks})}"></div>
                </div>
                <footer class="Section-footer">
                    <a class="Author-books" th:href="'/books/author/' + ${author.slug}" th:text="#{message.allBooksAuthor}">
                        Все книги автора
                        <span class="Author-amount" th:text="${author.getBookList().size()}">(55)</span>
                    </a>
                </footer>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>

</html>